<form [formGroup]="loginForm">
    <strong>
        <h2 class="text-center pb-2">Login</h2>
    </strong>
    <hr />
    <p class="my-3 text-center">Please enter your credentials below to login.
    </p>
    <div class="my-3">
        <input type="text" class="form-input" placeholder="Enter Your Username"
            formControlName="username" />
        <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched"
            class="text-red ml-1">
            <div *ngIf="loginForm.get('username').errors?.['required']"><small>Username is required</small>
            </div>
        </div>
    </div>
    <div class="my-3">
        <input type="password" class="form-input" placeholder="Enter Your Password"
            formControlName="password" />
        <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
            class="text-red ml-1">
            <div *ngIf="loginForm.get('password').errors?.['required']"><small>Password is required</small>
            </div>
        </div>
    </div>
    <div class="my-3 text-center">
        <button class="btn btn-black" type="submit" (click)="loginRequest()"
            [disabled]="!loginForm.valid">Login</button>
    </div>
</form>

<!-- prakhar@kilobytetech.com -->