<div class="flex h-screen">
    <div class="w-1 bg-blue flex flex-column justify-content-between align-items-center text-white">
        <h2 class="text-center mt-3">HMA</h2>
        <div class="h-75 flex flex-column align-items-center justify-content-center">
            <div class="flex flex-column mb-5 align-items-center">
                <div class="text-center sidebar-icon" routerLinkActive="active-route">
                    <img src="../../../assets/Icons/dashboard_white_24dp.svg" alt="Dashboard" class="sidebar-img">
                </div>
                <p>Dashboard</p>
            </div>

            <div class="flex flex-column mb-5 align-items-center">
                <div class="text-center sidebar-icon" routerLinkActive="active-route">
                    <img src="../../../assets/Icons/person_outline_white_24dp.svg" alt="Client" class="sidebar-img">
                </div>
                <p>Client</p>
            </div>

            <div class="flex flex-column mb-5 align-items-center">
                <div class="text-center sidebar-icon" routerLinkActive="active-route">
                    <img src="../../../assets/Icons/view_list_white_24dp.svg" alt="Task" class="sidebar-img">
                </div>
                <p>Task</p>
            </div>

            <div class="flex flex-column mb-5 align-items-center">
                <div class="text-center sidebar-icon" routerLinkActive="active-route">
                    <img src="../../../assets/Icons/payment_white_24dp.svg" alt="Payment" class="sidebar-img">
                </div>
                <p>Payment</p>
            </div>

        </div>
        <div>
            <img src="../../../assets/Icons/person_outline_white_24dp.svg" alt="Client"
                class="sidebar-img mb-2 user-icon">
        </div>
    </div>
    <div class="w-11">

    </div>
</div>

<router-outlet></router-outlet>