.h-75{
    height: 75%;
}
.sidebar-img{
    height: 25px;
}
.user-icon{
    border: 2px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.active-route{
    background: darkturquoise !important;
}
.sidebar-icon{
    padding: 13px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}