@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');
@import '~primeflex/themes/primeone-light.css';
@import '~primeflex/primeflex.css';

*,
*::before,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-weight: 400;
    background-color: #f0f1f3;
    font-family: 'Mulish', sans-serif !important;
    color: #183153;
}