@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');
@import '~primeflex/themes/primeone-light.css';
@import '~primeflex/primeflex.css';

*,
*::before,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-weight: 400;
    background-color: #f0f1f3;
    font-family: 'Mulish', sans-serif !important;
    color: #183153;
}

:root {
    --font-mulish: font-family: 'Mulish', sans-serif;
    --btn-color: #0068ff;
    --orange-light-color: #bfca02;
    --box-shadow-input: 0 0 0 0.012rem var(--btn-color);
    --box-shadow-input-focus: 0 0 0 0.11rem var(--btn-color);
    --box-shadow-danger-btn-focus: 0 0 0 0.11rem var(--orange-light-color);
    --white-color: #fff;
    --green-color:#059862;
}

.text-blue {
    color: var(--btn-color) !important;
}
.bg-blue{
    background-color: var(--btn-color) !important;
}

.form-input,
.btn {
    border-radius: 7px;
    padding: 0.75rem 1em;
    border: 1px solid transparent;
    box-shadow: var(--box-shadow-input) !important;
    transition: all 0.2s ease-out;
    font-family: var(--font-mulish);
    width: 100%;
}

.form-input:focus-visible,
.form-input:focus {
    outline: 0;
    box-shadow: var(--box-shadow-input-focus) !important;
}

input:-internal-autofill-selected {
    background-color: var(--white-color) !important;
}

.input[disabled],
input[readonly] {
    background-color: #f5f3ff !important;
}

input.ng-invalid.ng-touched {
    box-shadow: var(--box-shadow-danger-btn-focus) !important;
    border: 1px solid transparent;
}

.btn {
    padding: 0.65rem 1em;
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border-radius: 2px;
    font-family: var(--font-mulish);
    color: var(--text-color);
}

.btn-blue {
    background-color: var(--btn-color);
    color: var(--white-color);
    border: 1px solid var(--btn-color)
}

.btn-green{
    background: var(--green-color);
    color:var(--white-color);
}

button[disabled],
input[disabled],
input[readonly] {
    cursor: not-allowed;
}

.table{
    border-collapse: collapse;
    width: 100%;
    font-family: var(--font-mulish);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.td,.th{
    border-bottom: 1px solid #ddd;
    padding: 12px 20px;
    text-align: left;
  }
  .td{
    color: var(--btn-color);
  }